snippet xml "XML declaration" b
<?xml version="1.0"?>

endsnippet

snippet t "Simple tag" b
<${1:tag}>
	${2:content}
</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet ti "Inline tag" b
<${1:tag}>${2:content}</${1/([\w:._-]+).*/$1/}>
endsnippet

# roslaunch snippets
snippet remap "roslaunch remap" b
<remap from="${1}" to="${2}"/>
endsnippet

