# boost
snippet b "b"
boost::
endsnippet

snippet boost "boost"
boost::
endsnippet

# boost format
snippet bformat "bformat"
boost::format("${1:}%1%${2:}")%${3:};${4:}
endsnippet

# boost foreach
snippet bfor "bfor"
BOOST_FOREACH(${1}, ${2}) {
	${3}
}${4}
endsnippet
