# boost
snippet b "b"
boost::
endsnippet

snippet boost "boost"
boost::
endsnippet

# boost format
snippet bformat "bformat"
(boost::format("$1")%$2)$0
endsnippet

# boost foreach
snippet bfor "bfor"
BOOST_FOREACH(${1}, ${2}) {
	${3}
}$0
endsnippet

snippet lcast "lexical cast"
boost::lexical_cast<$1>($2)$0
endsnippet

snippet shared "shared ptr"
boost::shared_ptr<$1>
endsnippet

snippet sharednew "shared new"
boost::shared_ptr<$1>(new $1);
endsnippet
