# eigen

snippet eig "eigen"
Eigen::$0
endsnippet

snippet eim "eigen matrix"
Eigen::Matrix$0
endsnippet

snippet eim_ "eigen matrix full"
Eigen::Matrix<${1:type}, ${2:rows}, ${3:cols}> ${4}
endsnippet

snippet eiv "eigen vector"
Eigen::Vector
endsnippet

snippet eir "row vector"
Eigen::RowVector
endsnippet

snippet eiq "eigen quaternion"
Eigen::Quaternion
endsnippet

snippet eia "eigen array"
Eigen::Array
endsnippet

snippet edyn "eigen dynamic"
Eigen::Dynamic
endsnippet
