# eigen

snippet eig "eigen"
Eigen::
endsnippet

snippet eim "eim"
Eigen::Matrix
endsnippet

snippet eim_ "eim_"
Eigen::Matrix<${1:type}, ${2:rows}, ${3:cols}> ${4}
endsnippet

snippet eiv "eiv"
Eigen::Vector
endsnippet

snippet eir "row vec"
Eigen::RowVector
endsnippet

snippet eiq "eiv"
Eigen::Quaternion
endsnippet

snippet eia "eigen array"
Eigen::Array
endsnippet

snippet edyn "dynamic"
Eigen::Dynamic
endsnippet
